@charset "UTF-8";

body {
    background-color: #ffffff;
    font-family: 'Josefin Sans';
    margin: 0px;
}
h1{
    background-color: #FFC8CB;
    display: flex;
    width: auto%;
    height: 225px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans';
    font-size: 64px;
    font-weight: normal;

}
#menu{
    background-color: #000;
    display: flex;
    width: auto%;
    height: 52px;
    margin: 0px;
    justify-content: right;
}
.opcaomenu{
    background-color: #4e4e4e;
    color: #d9d9d9;
    font-size: 20px;
    width: 100px;
    height: 52px;
    border: none;
    cursor: pointer;
}
.opcaomenu:hover{
    background-color: #9c9999;
}
.iconhome{
    display: flex;
    align-items: center;
    margin: 10px;
    margin-right: 20px;
}
.iconcompras{
    display: flex;
    align-items: center;
    margin: 10px;
}
#pix{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}
#pix h2{
    padding: 20px;
    font-size: 40px;
}
#pix h3{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}
#pix h4{
    font-size: 40px;
    font-weight: 400;
}